
    *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    .team {
    background: url("/image/Union.png");
    background-color: #EEEEEE;
    padding-top: 5rem;
}
.team-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.team-title h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.team-title p{
    width: 50vw;
    font-size: 18px;
    color: #555;
}
.team-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    width: 380px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    


.member:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.member-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.content {
    padding: 20px;
    text-align: start;
    position: relative;
    border: 1px solid #838383;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
}

.member-name {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.member-desc {
    width: 70%;
    color: #555;
}

.linkedin-icon {
    width: 48px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    background: #FF4E2A;
    right: 60px;
    top: 30px;
}

.newsletter {
  margin-top: 80px;
  background-color: #f35b1c;
  border-radius: 20px;
  padding: 100px;
  margin:100px auto;
  width: 90%;
  display: flex;
  overflow: hidden !important;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.newsletter h2 {
  font-size: 48px;
  font-weight: 700;
  max-width: 450px;
}

.newsletter-form {
  display: flex;
  height: auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}

.newsletter-form input {
  flex: 1;             
  min-width: 0; 
  border: none;
  padding: 14px 16px;
  outline: none;
  font-size: 16px;
}

.newsletter-form button {
  background: #ff6a2a;
  color: #fff;
  flex-shrink: 0;       
  width: 140px;
  border-radius: 16px;
  margin: 15px 10px;
  height: 55px;
  font-weight: bold;
}


@media (max-width: 768px) {

  .newsletter {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 40px 20px;
  }
  .newsletter-form {
    width: 100%;
  }

  .newsletter-form button {
    width: 120px;
  }
}
